.TimeInputBlock {
  display: flex;
  justify-content: space-between;
}

.TimeInputBlock p {
  color: #f7fafc;
  font-size: 2.4rem;
}

.TimeInputContainer {
  display: flex;
  flex-flow: column;
  margin-left: 10rem;
  max-width: 20rem;
}

.TimeInputContainer input {
  margin-bottom: 2rem;
}
