.TimeCalculator {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 5rem;
  grid-template-areas:
    "breaks breaks"
    "media-details time-inputs";
}

.BreakInputContainer {
  grid-area: breaks;
}

.MediaDetailsContainer {
  grid-area: media-details;
  justify-self: self-start;
}

.TimeInputContainer {
  grid-area: time-inputs;
}

.TimeCalculator hr {
  margin: 9rem 0;
  border: 1px solid #3b485e;
}

.TimeInputContainer {
  flex-flow: column;
  margin-left: 10rem;
}
