.SearchBar {
  max-width: 55rem;
  margin: 0 auto 10rem auto;
}

.SearchBar form {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .SearchBar {
    padding: 0 2rem;
  }
}

@media (max-width: 500px) {
  .SearchBar form {
    flex-flow: column;
  }

  .SearchBar input {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.SearchBar button {
  flex: 1 1 30%;
}

.SearchBar input {
  padding: 1rem;
  flex: 1 1 70%;
}
