.Button {
  display: inline-block;
  color: #1a202c;
  cursor: pointer;
  border: none;
}

.MaxWidth {
  width: 100%;
}

.Small {
  font-size: 2.4rem;
  padding: 1.5rem 2rem;
}

.Medium {
  font-size: 3.6rem;
  padding: 1rem 4rem;
}

.Large {
  font-size: 6rem;
  padding: 2.5rem 5rem;
}

.Primary {
  background-color: #ed8936;
}

.Secondary {
  background-color: #4299e1;
}
